__pycache__/
*.pyc
.venv/
.vscode/

data/interim/
data/processed/

results/*
!results/portfolios_vs_benchmark_1m.png
!results/portfolios_vs_benchmark_3m.png
!results/portfolios_vs_benchmark_6m.png
!results/portfolios_vs_benchmark_12m.png
!results/data_summary.pdf
!results/top10_mcap.png
!results/portfolios_vs_benchmark.png
!results/relative_all.png
.ipynb_checkpoints/
.DS_Store
Thumbs.db
